@use '../scss/vars' as vars;

.btn {
	padding: 5px 10px;
	border-radius: 12px;
	outline: none;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	&:hover {
		transition: all 0.3s ease-in-out;
		transform: scale(1.02);
	}
}

.btn--primary {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 0px 3px grey;
	transition: all 0.3s ease-in-out;
}

.btn--outline {
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}

.btn--pill {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 0px 3px grey;
	transition: all 0.3s ease-in-out;
	border-radius: 22px;
}

.btn--large {
	width: 325px;
	height: 75px;
	font-weight: 500;
	font-size: 25px;
}

.btn--small {
	width: 216px;
	height: 50px;
	font-weight: 500;
	font-size: 20px;
}

.btn--mobile {
	width: 75%;
	height: 45px;
	font-weight: 400;
	font-size: 18px;
}

.btn--wide {
	width: 440px;
	height: 50px;
	font-weight: 500;
	font-size: 22px;
}

.primary {
	color: vars.$text-white;
}

.blue {
	border: 3px solid vars.$button-dark;
	color: vars.$text-white;
}

.white {
	border: 3px solid vars.$button-white;
	color: vars.$text-white;
}

.yellow {
	border: 3px solid vars.$button-yellow;
	color: vars.$text-white;
}

.dark {
	border: 3px solid vars.$button-dark;
	color: vars.$text-white;
}

.orange {
	border: 3px solid vars.$button-orange;
	color: vars.$text-black;
}

.bg--blue {
	background-color: vars.$button-blue;
	color: vars.$text-white;
}

.bg--white {
	background-color: vars.$button-white;
	color: vars.$text-white;
}

.bg--yellow {
	background-color: vars.$button-yellow;
	color: vars.$text-black;
}

.bg--dark {
	background-color: vars.$button-dark;
	color: vars.$text-white;
}

.bg--orange {
	background-color: vars.$button-orange;
	color: vars.$text-black;
}
