@use '../scss/vars' as vars;
@use '../scss/mixins' as mix;

.navbar__container {
	background-color: vars.$primary-white;
	position: relative;
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px grey;
	z-index: 6;
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
}

.navbar-logo {
	display: block;
	cursor: pointer;
	font-weight: 600;
	text-shadow: 1px 1px 2px;
}
.nav-logo {
	opacity: 0.8;
	display: block;
	margin: 0 auto;
	width: 50px;
	height: auto;
}

.nav-menu {
	font-weight: 600;
	width: 55vw;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	border-bottom: 1px solid transparent;
	&:hover {
		border-bottom: 1px solid vars.$dark-grey;
	}
	a {
		&:focus,
		:active {
			outline: none;
			text-shadow: 0 0 1px grey;
		}
	}
}

.nav__menu__lang--mobile {
	display: none;
}

.nav__menu__lang {
	font-weight: 400;
	&:focus,
	:active {
		outline: none;
	}
}

.nav-links {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	height: 100%;
}

.menu-icon {
	display: none;
}

.menu-lang {
	display: none;
}

@media screen and (max-width: 1025px) {
	.nav-menu {
		width: 73vw;
	}
}

@media screen and (max-width: 768px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100vw;
		height: calc(100vh - 110px);
		top: 112px;
		left: -100%;
		opacity: 0;
		overflow: visible;
		transition: all 0.2s ease;
	}

	.nav-menu.active {
		background-color: vars.$bg-dark;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 7;
		overflow: hidden;
	}

	.nav-item {
		width: 100%;
		height: calc((100vh - 170px) / 4);
		&:hover {
			border: 0;
		}
		z-index: 8;
	}

	.nav-links {
		color: vars.$primary-white;
		text-align: center;
		padding: 1rem;
		width: 100%;
		display: table;
		z-index: 9;
		p {
			display: table-cell;
			vertical-align: middle;
			margin: auto;
		}
	}

	.nav-links:hover {
		background-color: vars.$button-blue;
		transition: all 0.3s ease;
		z-index: 9;
	}

	.nav__menu__lang {
		display: none;
	}

	.nav__menu__lang--mobile {
		display: block;
		color: vars.$text-white;
		width: 100%;
		border: 0;
		// border: 1px solid rgba(255, 255, 255, 0.3);
		z-index: 5;

		&:hover,
		:focus {
			outline: 0;
			background-color: vars.$bg-dark;
		}

		.lang__selector__container {
			color: black;
		}
	}

	.menu-icon {
		display: block;
		cursor: pointer;
		font-size: 32px;
	}

	.navbar-logo {
		font-size: 0.8rem;
	}

	.nav-logo {
		width: 55px;
		height: auto;
	}
}

@supports (-webkit-touch-callout: none) {
	.nav-menu {
		height: calc(100vh - 110px);
	}
	.nav-item {
		height: calc((100vh - 170px) / 4);
	}
}
