@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hero-grad {
	background: #4da8da;
	background: -webkit-linear-gradient(top left,#27546d, #4da8da);
	background: -moz-linear-gradient(top left,#27546d, #4da8da);
	background: linear-gradient(to bottom right,#27546d, #4da8da);
}

@mixin partner-grad {
	background: rgb(255, 223, 0);
	background: linear-gradient(
		160deg,
		rgba(255, 223, 0, 1) 0%,
		rgba(209, 101, 26, 1) 100%
	);
}
