$primary-white: #fbfbfb;
$primary-yellow: #ffdf00;
$secondary-yellow: #faaa17;
$button-yellow: #ffd700;
$button-white: #ffffff;
$button-dark: #203647;
$button-blue: #009af8;
$button-orange: #faaa17;
$text-blue: #009af8;
$text-white: #ffffff;
$text-black: #000000;
$bg-light: #007cc7;
$bg-dark: #203647;
$dark-grey: #394149;
